<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="top-bar">  
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <!-- BEGIN TOP BAR LEFT PART -->
        <div class="col-md-6 col-sm-6 additional-shop-info">
          <ul class="list-unstyled list-inline">
            <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
            <!-- BEGIN CURRENCIES -->
            <li class="shop-currencies">
              <a href="javascript:void(0);">€</a>
              <a href="javascript:void(0);">£</a>
              <a href="javascript:void(0);" class="current">$</a>
            </li>
            <!-- END CURRENCIES -->
            <!-- BEGIN LANGS -->
            <li class="langs-block">
              <a href="javascript:void(0);" class="current">Vietnamese</a>
              <div class="langs-block-others-wrapper">
                <div class="langs-block-others">
                  <a href="javascript:void(0);">French</a>
                  <a href="javascript:void(0);">Germany</a>
                  <a href="javascript:void(0);">Turkish</a>
                  <a href="javascript:void(0);">English </a>
                </div>
              </div>
            </li>
            <!-- END LANGS -->
          </ul>
        </div>
        <!-- END TOP BAR LEFT PART -->
        <!-- BEGIN TOP BAR MENU -->
        <div class="col-md-6 col-sm-6 additional-nav">
          <ul class="list-unstyled list-inline pull-right">
            <li><a th:href="@{/user/profile}">Tài khoản</a></li>
            <li><a th:href="@{/order/history}">Đơn hàng</a></li>
            <li>
            	<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Đăng nhập</a>
            	<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Đăng xuất</a>
            </li>
          </ul>
        </div>
        <!-- END TOP BAR MENU -->
      </div>
    </div>
  </div>
</th:block>