<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="script">
	<!-- Core scripts -->
	<script th:src="@{/assets/js/pace.js}"></script>
	<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/assets/libs/popper/popper.js}"></script>
	<script th:src="@{/assets/js/bootstrap.js}"></script>
	<script th:src="@{/assets/js/sidenav.js}"></script>
	<script th:src="@{/assets/js/layout-helpers.js}"></script>
	<script th:src="@{/assets/js/material-ripple.js}"></script>

	<!-- Libs -->
	<script th:src="@{/assets/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

	<!-- Demo -->
	<script th:src="@{/assets/js/demo.js}"></script>
	<script th:src="@{/assets/js/analytics.js}"></script>
</th:block>